.btn {
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    transition: background-color 0.4 ease, tramsform 0.2 ease;
}

.btn:hover {
    background-color: navy;
    transform: translateY(-3px) scale(1.02);
}